<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board Form</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/user.css">
</head>
<body>
<h1 id="formTitle">Create Board</h1>
<form id="userForm">
    <div>
        <label for="writer">Writer:</label>
        <input type="text" id="writer" required>
    </div>
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" required>
    </div>
    <div>
        <label for="content">content:</label>
        <textarea id="content" required style="height:300px; width:100%"></textarea>
    </div>
    <button type="submit" id="submitButton" class="btn">추가</button>
</form>
<a href="/boards" class="btn" style="margin-top: 10px;">목록으로</a>
<script>
    let boardId = null;

    document.addEventListener('DOMContentLoaded', function() {
        const pathParts = window.location.pathname.split('/');
        const lastPart = pathParts[pathParts.length - 1];

        if (lastPart === 'edit') {
            boardId = pathParts[pathParts.length - 2];
            document.getElementById('formTitle').textContent = 'Edit Board';
            document.getElementById('submitButton').textContent = '수정';
            fetchBoard(boardId);
        } else {
            boardId = null;
            document.getElementById('formTitle').textContent = 'Create User';
            document.getElementById('submitButton').textContent = '추가';
        }

        document.getElementById('userForm').addEventListener('submit', function(e) {
            e.preventDefault();
            if (boardId) {
                updateBoard();
            } else {
                createBoard();
            }
        });
    });

    function fetchBoard(id) {
        axios.get('/api/boards/' + id)
            .then(function (response) {
                const board = response.data;
                document.getElementById('writer').value = board.writer;
                document.getElementById('title').value = board.title;
                document.getElementById('content').value = board.content;
            })
            .catch(function (error) {
            if (error.response) {
                // 서버가 응답을 했고, 상태 코드가 2xx가 아님
                if (error.response.status === 403) {
                    alert('접근이 거부되었습니다. 권한이 없습니다.');
                    window.location.href = '/boards'
                } else {
                    alert('오류가 발생했습니다: ' + error.response.status);
                }
            }
             else {
                // 오류를 발생시킨 요청 설정
                console.error('Error:', error.message);
            }
        });
    }

    function createBoard() {
        const boardData = {
            writer: document.getElementById('writer').value,
            title: document.getElementById('title').value,
            content: document.getElementById('content').value
        };

        axios.post('/api/boards', boardData)
            .then(function (response) {
                window.location.href = '/boards';
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    }

    function updateBoard() {
        const boardData = {
            writer: document.getElementById('writer').value,
            title: document.getElementById('title').value,
            content: document.getElementById('content').value
        };

        axios.put('/api/boards/' + boardId, boardData)
            .then(function (response) {
                window.location.href = '/boards';
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    }
</script>
</body>
</html>